{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Pawekz Travel And Tours</title>
</head>
<body>
    <h3>Tour Detail</h3>

    <h4>{{ tour_package.title }}</h4>
    <p>{{ tour_package.description }}</p>
    <p>Duration: {{ tour_package.duration }} days</p>
    <p>Price: P{{ tour_package.price }}</p>
    <p>Destination: {{ tour_package.destination }}</p><br>

    <a href="{% url 'review_submission' tour_package.id %}">Review Tour Package</a>
    <br>
    <h2>Reviews</h2>
    {% for review in reviews %}
    <div class="card">
        <h4>{{ review.customername }}</h4>
        <p>Rating: {{ review.rating }}</p>
        <p>{{ review.comment }}</p>
    </div>
    {% empty %}
    <p>No reviews yet.</p>
    {% endfor %}
</body>
</html>